<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.user.mapper.UserMapper">
	
	<update id="userUpdate">
		UPDATE daul.out_user 
		SET 
		<if test="email != null and email != '' ">
			email = #{email}
		</if>
		<if test="phone_num != null and phone_num != '' " >
			,phone_num = #{phone_num}
		</if>
		<if test="nickname != null and nickname != '' " >
			,nickname = #{nickname}
		</if>
		WHERE user_seq = #{user_seq}
	</update>
	
	<insert id="createUser">
		INSERT INTO daul.out_user
			   (
			     email
			   , pw
			   , nickname
			   , phone_num
			   )
		VALUES (
				 #{email}
			   , #{pw}
			   , #{nickname}
			   , #{phone_num}
			   )
	</insert>
	
	<select id="selectUserList" resultType="Map">
		SELECT user_seq
		     , email
		     , pw
		     , nickname
		     , phone_num
		     , status
		  FROM daul.out_user
	</select>
	
	<select id="selectUser" resultType="egovframework.com.user.vo.UserVo">
		SELECT user_seq
		     , email
		     , pw
		     , nickname
		     , phone_num
		     , status
		  FROM daul.out_user
		 WHERE nickname = #{nickname}
	</select>
	
	<delete id="deleteUser">
		DELETE FROM daul.out_user
		 WHERE email = #{email}
		   AND nickname = #{nickname}
	</delete>
	
	<select id="selectUserPwCheck" resultType="egovframework.com.user.vo.UserVo">
		SELECT email
		  FROM daul.out_user
		 WHERE nickname = #{nickname}
		   AND pw = #{pw}
	</select>
</mapper>