<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.sub.mapper.SubMapper">
	
	<select id="selectLoginCheck" resultType="egovframework.com.sub.vo.SubVo">
		SELECT email,pw FROM out_user
		WHERE email = #{email}
	</select>
	
	<insert id="signUp">
		INSERT INTO out_user (email, pw, nickname, phone_num)
		VALUES (#{email},#{pw},#{nickname},#{phone_num})
	</insert>
	
	<select id="selectUser" resultType="egovframework.com.sub.vo.SubVo">
		SELECT *
		  FROM daul.out_user
		 WHERE nickname = #{nickname}
	</select>
</mapper>