<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.board.mapper.BoardMapper">
	
	<select id="selectBoardList" resultType="Map">	
		SELECT 
			board_seq, 
			title, 
			content, 
			reg_user, 
			DATE_FORMAT(rdate, '%Y-%m-%d') as rdate
		FROM daul.board
		ORDER BY board_Seq desc
	</select>
		
	<select id="selectBoardFile" resultType="Map">
		SELECT
		 	IDX,
			ORG_FILE_NAME,
			ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		FROM tb_file
		WHERE BOARD_IDX = (SELECT 
								board_idx 
						   FROM board 
						   WHERE board_seq = #{board_seq})
		AND
		DEL_CHK = 'N'
	</select>
		
	<select id="selectBoardIdx" resultType="String">
		SELECT CONCAT('B-',LPAD(count(*)+1,'7','0')) as 'board_idx'
		FROM board
	</select>
	
	<select id="selectBoard" resultType="egovframework.com.board.vo.BoardVo">
		SELECT 
			a.board_seq, 
			a.title, 
			a.content,
			DATE_FORMAT(a.rdate, '%Y-%m-%d') as rdate,
			c.nickname as reg_user
		FROM daul.board a
   		LEFT JOIN out_user c
		ON a.reg_user = c.user_seq 
		WHERE a.board_seq  = #{board_seq}
	</select>
	
	<insert id="insertBoard">
		INSERT INTO board (board_idx,title, content,reg_user,rdate,update_user,udate)
		values
		(#{board_idx},#{title},#{content},#{reg_user},now(),#{reg_user},now()) 
	</insert>
	
	<insert id = "insertFile" parameterType = "hashmap">
		INSERT INTO tb_file
        (
            BOARD_IDX,
            ORG_FILE_NAME,
            SAVE_FILE_NAME,
            FILE_SIZE,
            CREA_ID,
            CREA_DATE,
            UPDATE_DATE
        )
        VALUES
        (
            #{ BOARD_IDX},
            #{ ORG_FILE_NAME},
            #{ SAVE_FILE_NAME},
            #{ FILE_SIZE},
            #{ CREA_ID},
            SYSDATE(),
            SYSDATE()
        )
	</insert>
	
	<select id="selectDownloadFile" resultType="egovframework.com.board.vo.BoardVo">
		SELECT 
			ORG_FILE_NAME,
			SAVE_FILE_NAME
		FROM tb_file
		WHERE idx  = #{file_idx}
	</select>
	
	
	
</mapper>